@font-face {
    font-family:"InriaSans-Bold ";
    src: url('/Font/InriaSans-Bold.ttf');
}
#code1 {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
}

#BUTTONMULAI{
    -fx-font-family:"InriaSans-Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-background-color: #FFD634;
    -fx-translate-y: -60px;
}
