@font-face {
    font-family:"inria sans";
    src: url('/Font/InriaSansBold700.ttf');
}
#code1 {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
}

#BUTTONMULAI{
    -fx-font-family:"inria sans";
    -fx-text-fill: #ffffff;
    -fx-font-size: 17px;
    -fx-font-weight: 700;
    -fx-background-color: #d9d9d957;
    -fx-translate-y: -50px;
    -fx-min-width: 270px; 
    -fx-min-height: 46px;
    -fx-background-radius: 35px;
}
#BUTTONMULAI2{
    -fx-font-family:"inria sans";
    -fx-text-fill: #ffffff;
    -fx-font-size: 17px;
    -fx-font-weight: 700;
    -fx-background-color: #d9d9d957;
    -fx-translate-y: -50px;
    -fx-background-radius: 35px;

}